p{
font-size:2em;
font-family:arial,serif;
color:#F7F7F7;
}

h1, h2, h3, h4, h5, h6{
text-align:center;
font-family:arial,serif;
color:#5DB85B;
}

pre code {
 -webkit-overflow-scrolling:touch;
 font-family:"Courier New", monospace, Monaco, serif;
 font-size:0.9em;
 margin:0 0 2em 0;
 display:block;
 padding:1em 1.5em;
 overflow-x:auto;
}

pre {
 font-size:1.25em;
 font-family:arial,serif;
}

a:link, a:visited{
 font-size:1.25em;
 color:#5DB85B;
}

a:hover {
 font-size:1.25em;
 color:red;
}

body {
 background-color:#303030;
 font-size:100%;
 color:#F7F7F7;
 width:100%;
 height:100%;
}

.tabs:not(.index) {
 display:none;
}

a.button, .tabs a {
 width:90%;
 height:1.5em;
 font-size:1.25em;
 text-align:center;
 color:#F7F7F7;
 padding:0.5em 1.5em 0.5em 1.5em;
 border:3px solid #F70;
 background-color:#464646;
 font-weight:bold;
 display: block;
 text-decoration: none;
}

.cpyrt{
 text-align:center;
 font-size:10px;
 font-family:arial,serif;
 font-style:italic;
 float:left;
 width:100%;
 height:10%;
}

.paragraph{
 height:80%;
 width:100%;
}
 
