p{
font-size:1.25em;
font-family:arial,serif;
}

h1{
text-align:center;
font-family:arial,serif;
}

pre code {
 font-family:Monaco,Courier New,serif;
 font-size:0.75em;
 border-radius:10px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3);
 -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.3);
 //border-width:1px;
 //border-color:rgb(16,48,0);
 //border-style:solid;
 padding:0.6em;
 padding-left:1em;
 margin-left:5%;
 margin-right:8%;
 background-color:grey;
 overflow:auto;
}

pre {
 font-size:1.25em;
 font-family:arial,serif;
}

a:link{
 font-size:1.25em;
 color:#494;
}

a:visited {
 font-size:1.25em;
 color:#F00;
}

a:hover {
 font-size:1.25em;
 color:#F0F;
}

body{
 background-color:white;
 font-size:100%;
 width:100%;
 height:100%;
}

body > div.tabselect p{
 display:none;
}

body > div.tabselect p,span{
 width:100%;
 font-size:1.25em;
 text-align:center;
 color:#F50;
 padding:0 3em 0 3em;
 border:1px solid #F70;
 background-color:#0FF;
 float:none;
 z-index:0;
}
.cpyrt{
 text-align:center;
 font-size:10px;
 font-family:arial,serif;
 font-style:italic;
 float:left;
 width:100%;
 height:10%;
 z-index:0;
}

.paragraph{
 height:80%;
 float:left;
 width:100%;
}
 
