p{
font-size:1.25em;
font-family:arial,serif;
}

h1{
text-align:center;
font-family:arial,serif;
}

pre code {
 font-family:Monaco,Courier New,serif;
 font-size:0.75em;
}

pre {
 font-size:1.25em;
 font-family:arial,serif;
}

a:link{
 font-size:1.25em;
 color:#494;
}

a:visited {
 font-size:1.25em;
 color:#F00;
}

a:hover {
 font-size:1.25em;
 color:#F0F;
}

body{
 background-color:white;
 font-size:100%;
 width:100%;
 height:100%;
}

body > div.tabselect{
 height:10%;
}
body > div.tabselect p{
 width:20%;
 font-size:1.25em;
 color:#F50;
 padding:0em 3em 0em 3em;
 border:2px solid #F70;
 background-color:#0FF;
 float:left;
 z-index:0;
}
.cpyrt{
 text-align:center;
 font-size:10px;
 font-family:arial,serif;
 font-style:italic;
 float:left;
 width:100%;
 height:10%;
 z-index:0;
}

body > div.paragraph{
 height:80%;
 float:left;
 width:100%;
}
 
